<%= form_for @changeset, Routes.species_path(@conn, :create), fn f -> %>
<label>
  Name: <%= text_input f, :name %>
</label>
<label>
  Common Names: <%= text_input f, :common_name %>
</label>
<label>
  Genus: <%= text_input f, :genus %>
</label>
<label>
  species: <%= text_input f, :species %>
</label>
<label>
  Comments: <%= textarea f, :comments %>
</label>

<%= submit "Submit" %>
<% end %>